# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


*.aab
*.apk
release.sh


output-metadata.json
*.aab.idsig

!sakurasim.keystore
/build_private.sh
/build_private*.sh

.creds
/store/
src/assets/config.json
src/assets/images/logo.png



# The following files are modified by apply_variant.sh but SHOULD be committed 
# in their 'store' (default) state so CI builds can work correctly.
# Reversion is handled by .git/hooks/pre-commit.
# android/app/build.gradle
# ios/NekokoLPA.xcodeproj/project.pbxproj
# ios/NekokoLPA/Info.plist

android/app/src/main/res/drawable/turtle_card.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-20@2x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-20@2x~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-20@3x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-20~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-29.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-29@2x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-29@2x~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-29@3x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-29~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-40@2x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-40@2x~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-40@3x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-40~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-60@2x~car.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-60@3x~car.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon-83.5@2x~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon@2x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon@2x~ipad.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon@3x.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon~ios-marketing.png
ios/NekokoLPA/Images.xcassets/AppIcon.appiconset/AppIcon~ipad.png
ios/NekokoLPA/Images.xcassets/SplashIcon.imageset/9eSIM.png
ios/NekokoLPA/Images.xcassets/SplashIcon.imageset/Contents.json
ios/NekokoLPA/Images.xcassets/SplashIcon.imageset/splash@1x.png